{% extends 'base.html' %}
{% block content %}
<style>
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 65px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 20%;
      }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }
</style>
<!-- Header-->
<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Help</h1>
            <p class="lead fw-normal text-white-50 mb-0">Ask Us a Question</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <h1 align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ask a Question</h1>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.question_text }}
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
                <br/><br/>
            </div>
        </center>
    </div>
    <div class="row">
        <center>
            <div align="left" style="padding-left:360px">
            <h2>Recent Questions</h2>
            {% for question in questions %}
                <p>{{ question.question_text }}</p>
            {% endfor %}
            <div>
    </center>
    </div>
    <br/><br/>
    <div class="row">
        <center>
        <h1>Contact Info</h1>
        <h3>Email</h3>
        <h5><a href=mailto:DaShirts@sample.com>DaShirts@sample.com</a></h5>
        <h3>Social Links</h3>
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        </center>
    </div>
    <br/><br/>
</div>

{% endblock %}