{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Order Details</h1>
        </div>
    </div>
</header>
<br><br>
<div style="padding-left:400px">
  <a href="{% url 'view_orders' %}" class="btn btn-secondary">Back to Orders</a>
</div>
<div class="container" style="padding-left:250px; font-size: 20px;">
  <div class="row">
      <h2>Order Details</h2>
      {% if order %}
        Order ID: {{ order.id }}
        Customer: {{ order.customer.user.username }}<br>
        Total Amount: ${{ order.total_amount }}<br>
        Order Date: {{ order.order_date }}<br>
        Full Name: {{ order.full_name }}<br>
        Address Line 1: {{ order.address_line1 }}<br>
        Address Line 2: {{ order.address_line2 }}<br>
        City: {{ order.city }}<br>
        State: {{ order.state }}<br>
        Postal Code: {{ order.postal_code }}<br>
        Country: {{ order.country }}<br>
        <br>
        <h2>Ordered Products:</h2>
          {% for order_item in order.orderitem_set.all %}
              {{ order_item.product.name }} -
              Quantity: {{ order_item.quantity }} -
              Item Price: ${{ order_item.item_price }}
              <br>
          {% endfor %}
      {% else %}
        <p>No order details available.</p>
      {% endif %}
  </div>
</div>
<br><br><br><br><br><br><br><br>
{% endblock %}