{% extends 'base.html' %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<!-- Header-->
<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Orders</h1>
            <p class="lead fw-normal text-white-50 mb-0">view orders</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row" style="padding-left:250px;">
        <h1>All Orders</h1>
        {% if orders %}
            {% for order in orders %}
                <div style="font-size:21px">
                  <a href="{% url 'view_order_details' order.id %}">Order ID: {{ order.id }}</a><br>
                  Customer: {{ order.customer.user.username }}<br>
                  Total Amount: ${{ order.total_amount }}<br>
                  Order Date: {{ order.order_date }}<br><br>
                </div>
              <br>
            {% endfor %}
        {% else %}
          <p>No orders available.</p>
        {% endif %}
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}